@import "tailwindcss";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
}

body{
    background-color: black;
}
.wrap{
    height:65vh;
    margin-top:17.5vh;
    display:grid;
    grid-auto-columns:23.5vw;
    grid-auto-flow:column;
    width:min-content;
    gap:2vw;
}